numpy>=1.23.3,<2.0.0
pandas>=1.1.5,<2.0.0
python-binance==1.0.19
pycryptodome>=3.11
python-dotenv>=0.19.1
scikit-learn>=0.23.2
typing-extensions>=3.7.4
pytz>=2020.4
requests>=2.31.0
websockets==9.1
psycopg2>=2.9.3,<3.0.0
apscheduler>=3.10.4,<3.12.0
setuptools>=74.1.2
objsize>=0.7.0
dbbinance-storage @ git+https://github.com/cubecloud/dbbinance-storage@main
secureapikey @ git+https://github.com/cubecloud/secureapikey@main
mlthread-tools @ git+https://github.com/cubecloud/mlthread-tools@main
